<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>648062680212-lmmsiemmdrihb5hg1j5s9dbhjt525nas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648062680212-lmmsiemmdrihb5hg1j5s9dbhjt525nas</string>
	<key>API_KEY</key>
	<string>AIzaSyBc7nCisIdhMLNd1v4fGxEZoBHQ1Lw4r_M</string>
	<key>GCM_SENDER_ID</key>
	<string>648062680212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rosehulman.castonkr.FavoritePhotos</string>
	<key>PROJECT_ID</key>
	<string>castonkr-favorite-photos</string>
	<key>STORAGE_BUCKET</key>
	<string>castonkr-favorite-photos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648062680212:ios:354395a9f59501bf</string>
	<key>DATABASE_URL</key>
	<string>https://castonkr-favorite-photos.firebaseio.com</string>
</dict>
</plist>